*{
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    background-color:#A367B1;
}
h1{
    background-color: #392467;
    color: white;
    padding: 15px;
    text-align: center;
    align-items: center;
}
.choice{
    height: 165px;
    width: 165px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.choice:hover{
    cursor: pointer;
    background-color:  aquamarine;
}
.choice.clicked {
    background-color:rgba(255, 0, 0, 0.785);
}

img{
    height: 150px;
    width: 150px;
    cursor: pointer;
    border-radius: 50%;
    object-fit: cover;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 30px;
}
.score-bord{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
#user-score,
#comp-score {
  font-size: 4rem;
}
.msg-container{
    margin-top: 5rem;
}
#msg
{
    background-color: #FFD1E3;
    color: #ffffff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
    
}